# Ignore everything:
*

# Do not ignore these files:
!core.lua
!developer.lua
!expp.lua
!GuildChat.toc
!knb.lua
!LICENSE
!roll.lua
!svetofor.lua
!quests/
!quests.lua
!quests/quests.lua
!quests/qp.lua
!functions.lua
!libs/
!libs/UTF8/
!libs/UTF8/utf8.lua
!libs/UTF8/UTF8.toc
!libs/UTF8/utf8data.lua
