# Ignore everything:
*

# Do not ignore these files:
!coreS.lua
!developerS.lua
!expp.lua
!GuildChat.toc
!knb.lua
!LICENSE
!roll.lua
!svetofor.lua
!quests/
!quests.lua
!quests/quests.lua
!quests/qp.lua
!quests/skills/
!quests/skills/creare.lua
!quests/skills/guardare.lua
!functionsS.lua
!libs/
!libs/UTF8/
!libs/UTF8/utf8.lua
!libs/UTF8/UTF8.toc
!libs/UTF8/utf8data.lua
!gmList.lua
!lotereyaBD.lua
!developersSystem.lua
